/* src/app/main/main.component.css */

body {
    background-color: #f0f4f8; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
/* Contenedor general */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 90%; /* Máximo ancho en pantallas pequeñas */
  box-sizing: border-box;
  text-align: center;
}
  
  /* Recuadro del Menú */
  .menu-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 20px
  }
  
  .menu-container h1 {
    color: #007bff;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .menu-container p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .visualization-dropdown {
    padding: 0.8rem 1rem; 
    font-size: 1.1rem; 
    border: 2px solid #007bff; 
    border-radius: 6px; 
    background-color: #f9f9f9; 
    color: #333; 
    width: 100%;
    cursor: pointer; 
    transition: all 0.3s ease; 
  }
  
  .visualization-dropdown:hover {
    background-color: #e6f0ff; 
    border-color: #0056b3;
    color: #0056b3; 
  }
  
  .visualization-dropdown:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }
  
  
  /* Recuadro para Desplegar los Relojes */
  .display-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    text-align: center;
    min-height: 200px;
  }
  
  .display-container p {
    font-size: 1.2rem;
    color: #555;
  }

  .logout-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #0056b3;
  }
  
  
  