<div class="clock-morse">
    <h1>{{ timeNumeric }}</h1>
    <p>{{ timeMorse }}</p>
  
    <div class="time-adjustment">
      <div class="slider">
        <label>Horas</label>
        <input
          type="range"
          min="0"
          max="23"
          [(ngModel)]="customHour"
          (input)="adjustHour(customHour)"
        />
      </div>
      <div class="slider">
        <label>Minutos</label>
        <input
          type="range"
          min="0"
          max="59"
          [(ngModel)]="customMinute"
          (input)="adjustMinute(customMinute)"
        />
      </div>
      <div class="slider">
        <label>Segundos</label>
        <input
          type="range"
          min="0"
          max="59"
          [(ngModel)]="customSecond"
          (input)="adjustSecond(customSecond)"
        />
      </div>
    </div>
  </div>
  